wsdl/update_app_status_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Library"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Library"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
            <xsd:complexType name="notificationType">
                <xsd:sequence>
                    <xsd:element name="did" type="xsd:string"></xsd:element>
                    <xsd:element name="status" type="tns:integer"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="notificationResType">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                    <xsd:element name="errorCode" type="tns:integer"></xsd:element>
                    <xsd:element name="errorDescription" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="notifyRequest">
        <wsdl:part name="notification" type="xsd:notificationType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="notifyResponse">
        <wsdl:part name="notificationRes" type="xsd:notificationResType"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="Library">
        <wsdl:operation name="notification">
            <wsdl:input message="notifyRequest"/>
            <wsdl:output message="notifyResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Library" type="tns:Library">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="notification">
            <soap:operation soapAction="http://localhost/single_window/public/api/update_app_status"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Library">
        <wsdl:port binding="tns:Library" name="NotifyLibrary">
            <soap:address location="http://localhost/single_window/public/api/update_app_status"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
